

.flex-div {
  display: flex;
}



 .flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}





@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}








@media (min-width: 1200px) {
.container {
  max-width: 1140px;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
}
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
  }
}

@media (min-width: 576px) {
      .container {
        max-width: 540px;
  }
}





.logbtn {
  cursor: pointer;
}


.menubtn {
  background: url('./img/menu.png') no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100%;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  position: relative;
  top: -150px;
  right: -1750px;
  z-index: 1;
}





